upstream demo { 

        {% for serv in groups['webserver'] %}

	server  {{ hostvars[serv].ansible_host }}    ;

	{% endfor %}
}

server { 

	listen 80;
	location  /   {  
		proxy_pass http://demo; 

	}

} 
